<!-- <h1 align="center">Welcome</h1> -->
<!-- <h2 align="center">to</h2> -->
<marquee behavior="alternate"><h1>TriStar Online Appliance Services</h1></marquee>

 
<% unless provider_signed_in? -%>
  <% unless user_signed_in? -%>
    <p><%= link_to 'Sign up as New Provider', new_provider_registration_path %></p>
  <p><%= link_to 'Sign in as Provider', new_provider_session_path %></p>
  <% end -%>
<% end -%>

<% unless user_signed_in? -%>
     <% unless provider_signed_in? -%>
       <p><%= link_to 'Sign up as New User', new_user_registration_path %></p>
      <p><%= link_to 'Sign in as User', new_user_session_path %></p>
     <% end -%>

<% end -%>


<p>Sign in page</p>

